*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Martel Sans', sans-serif;
    background-color:#1f3933;
    
}

.list {
    background-color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border-right: 1px solid red;
}

.topbar {
    background-color:#006341;
    display: flex;
}

#rewards {
    color: white;
    background-color: #1f3933;
    text-decoration: underline;
}

button {
    float: right;
}